/* 
    Document   : styles
    Created on : 08/05/2014, 04:24:10 PM
    Author     : Jonathan
    Description:
        Purpose of the stylesheet follows.
*/

* {
    border: 0 none;
    margin: 0;
    padding: 0;
}

a.remove_field {
    text-decoration: blink;
    color: #428bca;
    font: 0.9em/0.9em "rooney-web", sans-serif;
}

a.main_title.navbar-brand {
    margin-left: 65px !important;
    color: #EDEDED;
}

body {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height: 0;
}

body.menu {
    padding: 5px;
    background-color: rgba(0 0 0 0.5);

}

button.add_field_button {
    background-color: #5bc0de;
    border-color: #46b8da;
    padding: 10px;
    border-radius: 3px;
    margin: 5px;
    color: #ffffff;
}

button.add_field_button:hover {
    background-color: #2980b9;
    border-color: #2980bf;
}

button.searchServer {
    background-color: #ff4842;
    border-color: #d0272a;
    padding: 10px;
    height: initial !important;
    vertical-align: top;
    color: #ffffff;
    margin: 5px;
    border-radius: 3px;
}

button.searchServer:hover {
    background-color: #7dcd40;
    border-color: #6dae33;
}

div#navbar {
    height: inherit !important;
    border: 0;
}

html, body{
    /*display: inline-block;*/
    /*height: 100%;*/
}

input.input-find {
    margin: 3px 6px 3px 5px;
    padding: 5px;
    border-radius: 3px;
}

li.pnod {
  background-color: rgba(0,0,0,.02);
  padding: 3px 15px;
}

li.inod {
  padding: 3px 15px;
}

nav.search {
    top: 55px;
    /* z-index: 4; */
    position: relative;
    overflow: visible;
    display: block;
    transform: translateX(0);
    transition: transform .15s ease-in-out;
    will-change: top,left;
    width: 100%;
    background-color: rgba(0, 0, 0,.05);
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    /*z-index: 10;*/
}

p.errorMsg {
    display: inline-block;
    color: #fff;
    font-weight: bold;
}

p.menu {
    background-color: rgba(0, 0, 0, 0.2);
    height: 40px;
    width: 40px;
    left: 10px;
    border-radius: 23px;
    margin: 5px 0 0 0;
    position: absolute;
}

p.menu2 {
    left: 10px;
    margin: 5px 0 0 0;
    position: absolute;
}

text{
    font-size: 8px;
}

.cmb_find {
    margin: 3px 6px 3px 5px;
    padding: 5px;
    border-radius: 3px;
}

.container-fluid{
    height: inherit;
}

.access_aid {
    display: block;
    position: absolute;
    top: 10px;
    /* right: 0; */
    left: 7px;
    width: 25px;
    height: 0px;
    padding-top: 20px;
    overflow: hidden;
    /* border: 1px solid #ccc; */
    background: rgba(0 0 0 0) 10px 10px / 20px 20px no-repeat;
}

.bg-success{
    background-color: #fff;
}

.box-search {
    margin: 7px auto 7px auto;
    /* padding: 0 15px; */
    background: rgba(255, 255, 255, .15);
    /* display: table-cell; */
    /* text-align: center; */
    vertical-align: middle;
    width: 60%;
    /* height: 70px; */
    border-radius: 3px;
}

.center{
    display: block;
    position: relative;
    top: 55px;
}

.cir {
    border-color: #fff;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    height: 8px;
    width: 8px;
}

.col-md-3.thumbnail {
    position: fixed;
    right: 0px;
    top: 57px;
    background: rgb(255, 255, 255);
    bottom: 0px;
    transform: translateX(0px);
    overflow: visible;
    z-index: 4;
    transition: transform 0.15s ease-in-out;
    -webkit-transition: transform 0.15s ease-in-out;
    will-change: top, left;
    box-shadow: rgba(0, 0, 0, 0.137255) -4px 0px 8px, rgba(0, 0, 0, 0.278431) 2px 4px 8px;
    width: 300px;
    display: none;
}

.content{
    height: 100%;
}

.contRigth {
  /*padding: 20px 0px;*/
  background-color: #fff;
  border-radius: 3px;
  bottom: 0;
  box-shadow: 0 0 4px rgba(0,0,0,.14),2px 4px 8px rgba(0,0,0,.28);
  color: #757575;
  position: absolute;
  font-size: 12px;
  height: 100%;
  width: 300px;
  overflow-x: auto;
  overflow-y: auto;
  text-align: justify;
  top: 0;
}

.cont_left {
    border-width: 1px;
    cursor: pointer;
    /*font-size: 1.5em;*/
    height: 100%;
    position: absolute;
    display: flex;
}

.cont_rigth {
    height: 56px;
    position: absolute;
    right: 0;
    top: -2px;
    width: 160px;
    z-index: 1;
}

.content_search{
    text-align: center;
    width: 100%;
}

.content_title {
    color: #fff;
    height: inherit;
    margin: auto 0 auto 50px;
    outline: none;
    /*position: relative;*/
    left: 50px;
    /* flex: 1; */
    /* width: 20px; */
}

.desc {
    background-color: rgba(0,0,0,.5);
    float: right;
    padding: 5px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 12px;
    width: 150px;
    position: fixed;
    top: 20%;
    right: 0px;
}

.error {
    display: none;
    text-align: center;
}

.fields-wrap {
    display: inline-block;
    padding: 5px;
}

.fields_search{
    padding: 10px;
}

.graphs {
  top: 55px;
  position: relative;
  display: inline-block;
  width: 100%;
  /*height: 40px;*/
  background-color: #BBDEFB;
  z-index: 4;
}

.labelInfoNode{
    background-color: rgba(0, 0, 0, 0.04);
    padding-right: 5px;
}

ul.graphsMenu {
  text-align: center;
  /* height: 100%; */
  /* text-decoration: none; */
}

/*li.opt {
  display: inline-block;
  width: 300px;
  height: 100%;
  line-height: 40px;
}*/

ul#unod {
    line-height: initial;
}

a.grpLink {
  color: #fff;
  text-decoration: none;
  /*border-bottom: 5px solid transparent;*/
  padding: 5px 50px;
  /*font-weight: bold;*/
  font-weight: 300;
  /*color: #000;*/
}

a.grpLink:hover {
    border-bottom: 5px solid #ff4842;
}

.head {
    /*height: 50px;*/
    background: #4285f4;
    border: 0;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    box-sizing: border-box;
    position: fixed;
    margin: 0;
    top: 0;
    will-change: top,left;
    width: 100%;
    z-index: 22;
}

.inod:hover{
    background-color: rgba(0, 0, 0, .1);
    color: silver;
    cursor: pointer;
}

.input_fields_wrap {
    display: none;
    padding: 10px;
}

.left {
    height: 100%;
    float: left;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}

.lnod {
    background-color: #fff;
    border-radius: 3px;
    bottom: 0;
    box-shadow: 0 0 4px rgba(0,0,0,.14),2px 4px 8px rgba(0,0,0,.28);
    color: #757575;
    position: absolute;
    font-size: 12px;
    height: 100%;
    width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    top: 0;
    /*white-space: nowrap;*/
}

.main_title{
    font-weight: bold;
    font-size: 1.5em;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: rgba(255, 255, 255, .25);
}
.node {
    /*stroke: #fff;*/
    stroke-width: 1.5px;
    -webkit-transition: .2s;
}

.node:hover{
    /*                -webkit-transform: scale(1.1,1.1);*/
    stroke-width: 2.5px;
    /*                zoom: 15px;*/
}

.pnod:hover{
    background-color: rgba(0, 0, 0, .1);
    color: silver;
    cursor: pointer;    
}

.pop {
/*    background-color: rgba(0,0,0,.5);
    border-radius: 5px;
    color: #ffffff;*/
    display: none;
/*    position: absolute;
    width: 280px;
    padding: 10px;
    background: #eeeeee;
    border: 1px solid #1a1a1a;
    font-size: 11px;*/
    position: absolute;
/*    bottom: 0;*/
    width: 250px;
    left: -125px;
    font-size: 12px;
    line-height: 16px;
    padding: 10px;
    border-radius: 3px;
    background: rgba(255,255,255,0.9);
    color: #000;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    border: 1px solid rgba(200,200,200,0.85);
    text-align: justify;
}

.rigth_item{
    display: inline-block;
    height: 93%;
    line-height: 50px;
}

.rigth_item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.rigth_item a {
    color: #fff;
    text-decoration: blink;
}

.rhas{
    /*background-image: url('../img/appbar.debug.step.over.png');*/
    background-repeat: no-repeat;
    padding-top: 0 !important;
    padding-bottom: 0 !important; 
    width: 70px;
}

.rssett{
    background-image: url('../img/appbar.information.png');
    background-repeat: no-repeat;
    width: 70px;
}

.si_img {
    background-image: url(../img/ic_search_wht_24dp_r1.png);
    background-size: 24px;
    display: inline-block;
    height: 24px;
    width: 24px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: absolute;
    top: 6px;
    webkit-transition: -webkit-transform .15s linear;
    transition: transform .15s linear;
    left: 24px;
}

/*.title{
    font-weight: bold;
}*/


.with_nav #main_nav {
    display: none;
}

/*#access_nav {
    background-image: -webkit-repeating-linear-gradient(#4285f4, #4285f4 2px, #fff 2px, #fff 4px);
    background-image: repeating-linear-gradient(#4285f4, #4285f4 2px, #fff 2px, #fff 4px);
}*/

#access_nav {
    background-image: -webkit-repeating-linear-gradient(transparent, transparent 2px, #fff 2px, #fff 4px);
    background-image: repeating-linear-gradient(transparent, transparent 2px, #fff 2px, #fff 4px);
} 

#access_top {
    background-image: linear-gradient(45deg, transparent 13px, #ccc 13px, #ccc 15px, transparent 0), linear-gradient(-45deg, white 13px, #ccc 13px, #ccc 15px, white 0);
} 

#loading {
/*    position: absolute; */
    background: url('../img/ajax-loader.gif') no-repeat center center;
    display: inline-block;
    height: 16px; 
    width: 16px; 
}

#main_nav {
    display: none;
    position: fixed;
    top: 57px;
    left: 0;
    background: #fff;
    transform: translateX(0);
    bottom: 0;
    overflow: visible;
    z-index: 4;
    transition: transform .15s ease-in-out;
    will-change: top,left;
}

#main_nav:target {
    display: block;
}

#search {
    background: none;
    border: 0;
    border-radius: 2px;
    color: #fff;
    /*display: inline-block;*/
    /*height: 30px;*/
    /*line-height: normal;
    position: absolute;
    top: 10px;*/
    width: 88%;
    float: right;
}

#search_icon{
    display: inline-block;
    height: 36px;
    position: relative;
    width: 10%;
} 

#unod{
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
      padding: 20px 0 20px 0;
}

#viz {
    margin: 0 auto 0 auto;
}